<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--jQuery Link-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--Bootstrap Links-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!--CSS Style Sheet-->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <title>Mongo Article Scraper!</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongo Scraper</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/saved">Saved Articles</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; Mike Graham</span>
        </div>
    </footer>
    <!--External JS Link-->
    <script type="text/javascript" src="/assets/js/app.js"></script>
</body>

</html>