

    <div class="jumbotron">
        <h1>Article Scraper</h1>
    </div>

    <div class="container">
        {{#each article}}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{this.title}}</h3>
                </div>
                <div class="panel-body">
                    {{this.link}}
                    <form class="navbar-form navbar-left" method="POST" action="/articles/save/{{this.id}}">
                        <button type="submit" class="btn-save"><strong>Save Article</strong></button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


</body>

</html>